@import "styles/Variables.module.scss";

.blockDivider {
  @extend %divider;
  margin-bottom: 3.2rem;
}

.sharesContainer {
  padding: 2.4rem;
  background-color: $colorBg100;
  box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.05), 0px 32px 48px -8px rgba(0, 0, 0, 0.1);
  border-radius: $radiiMedium;
  margin-bottom: 4.5rem;
}

.sharesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}

.shareNumberContainer {
  display: flex;
  align-items: center;
}

.dot {
  @extend %dot;
}

.shareNumberHeader {
  margin-left: 1rem;
  font-weight: $fwSemiBold;
  color: $colorTextDark;
  font-size: 20px;
}

.navigationBtn {
  background-color: $colorBg300;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $transAll;

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background-color: darken($colorBg300, 10%);
  }

  &:disabled,
  &[disabled] {
    cursor: default;
    background-color: transparent;
    border-color: transparent;
  }
}

.shareItemsContainer {
  margin-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.shareNumberText {
  color: $colorBg700;
  font-weight: $fwSemiBold;
  font-size: 18px;
}

.navigationContainer {
  margin: 3.2rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

%navigationItemBase {
  @extend %dot;
  margin-right: 1rem;
  transition: $transAll;
  margin-bottom: 0.6rem;

  &:last-child() {
    margin-right: 0;
  }
}

.navigationItem {
  @extend %navigationItemBase;
  background-color: $colorBg670;
}

.navigationItemActive {
  @extend %navigationItemBase;
}
