@import "styles/Variables.module.scss";

.ldsDualRing {
  display: inline-block;
  // width: 40px;
  // height: 40px;
  // outline: 2px solid red;

  &::after {
    --size: 15px;
    content: " ";
    display: block;
    width: var(--size);
    height: var(--size);
    // margin: 4px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
