@import "styles/Variables.module.scss";

.container {
  position: relative;
  font-weight: $fwSemiBold;
  font-size: 14px;
  line-height: 24px;
  max-width: 450px;
  margin-bottom: 0.2rem;
}

.count {
  position: absolute;
  height: 48px;
  width: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $colorBg700;
}

.input {
  border: none;
  outline: none;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;

  width: 100%;
  padding: 1.2rem 1.2rem 1.2rem 4.2rem;
  background-color: $colorBg200;
  border-radius: $radii;
  color: $colorTextDarkish;
  outline: 2px solid transparent;
  transition: $transAll;

  &:hover,
  &:focus {
    outline-color: $colorMain;
  }
}

.dropdownList {
  position: absolute;
  top: 50px;
  box-shadow: 0px 40px 64px -12px rgba(0, 0, 0, 0.08), 0px 0px 14px -4px rgba(0, 0, 0, 0.05),
    0px 32px 48px -8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  border-radius: $radii;
  padding: 1.6rem;
  z-index: 1;
}

.dropdownListItem {
  outline: none;
  border-radius: $radii;
  padding: 1.2rem;
  color: $colorBg700;
  transition: $transColor;
  display: block;
  width: 100%;
  text-align: left;

  &:hover,
  &:focus {
    background-color: $colorBg200;
    color: $colorTextDark;
  }
}

.focused {
  background-color: $colorBg200;
  color: $colorTextDark;
}

.incorrectText {
  color: $colorError;
  text-align: center;
}
