@import "styles/Variables.module.scss";

.container {
  position: relative;
  font-weight: $fwNormal;
  font-size: 14px;
  line-height: 24px;
}

.count {
  position: absolute;
  height: 48px;
  width: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 1rem;
  color: $colorBg700;
}

.input {
  border: none;
  outline: none;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;

  padding: 1.2rem 1.2rem 1.2rem 4.2rem;
  background-color: $colorBg200;
  border-radius: $radii;
  color: $colorTextDarkish;
  transition: $trans;

  &:hover,
  &:focus {
    outline: 2px solid $colorMain;
  }
}

.dropdownList {
  position: absolute;
  top: 50px;
  box-shadow: 0px 40px 64px -12px rgba(0, 0, 0, 0.08), 0px 0px 14px -4px rgba(0, 0, 0, 0.05),
    0px 32px 48px -8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  border-radius: $radii;
  padding: 1.6rem;
}

.dropdownListItem {
  border-radius: $radii;
  padding: 1.2rem;
  transition: $trans;
  color: $colorBg700;

  &:hover {
    background-color: $colorBg200;
    color: $colorTextDark;
  }
}
