@import "styles/Variables.module.scss";

.titleContainer {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1.4rem;
  font-size: 14px;
  cursor: help;
}

.title {
  line-height: 24px;
  margin-right: 0.5rem;
}
