{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    "no-console": "warn",
    "prefer-const": "warn",
    "quotes": ["error", "double"],
    "jsx-quotes": ["error", "prefer-double"],
    "indent": ["warn", 2],
    "max-len": ["error", { "code": 110 }],
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["error", "never"]
  }
}
