{
  "bracketSpacing": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "semi": false,
  "endOfLine": "auto",
  "printWidth": 105,
  "arrowParens": "avoid",
  "tabWidth": 2
}
