@import "styles/Variables.module.scss";

@mixin btnBase($color) {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  cursor: pointer;

  font-size: 15px;
  padding: 1.2rem 2rem;
  color: $colorBg100;
  background-color: $color;
  border-radius: $radii;
  font-weight: $fwBold;
  transition: $transAll;

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background-color: darken($color, 10%);
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    border-color: transparent;
  }

  &:disabled,
  &[disabled] {
    background-color: $colorBg650;
    cursor: default;
  }
}

.btnColorMain {
  @include btnBase($colorMain);
}
.btnColorSuccess {
  @include btnBase($colorSuccess);
}
.btnColorErrorLightish {
  @include btnBase($colorErrorLightish);
}
.btnColorNeutral {
  @include btnBase($colorBg100);
  color: $colorTextDark;
  border: 2px solid $colorBg300;
}

.fullWidth {
  width: 100%;
}
