@import "styles/Variables.module.scss";

@mixin btnBase($color) {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  cursor: pointer;

  font-size: 15px;
  padding: 1.2rem 2rem;
  color: $colorBg100;
  background-color: $color;
  border-radius: $radii;
  font-weight: $fwBold;
  transition: $transAll;

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background-color: darken($color, 10%);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }

  &:disabled,
  &[disabled] {
    background-color: $colorBg650;
    cursor: default;
  }
}

.btnColorMain {
  @include btnBase($colorMain);
}
.btnColorSuccess {
  @include btnBase($colorSuccess);
}
.btnColorErrorLightish {
  @include btnBase($colorErrorLightish);
}

.fullWidth {
  width: 100%;
}
