@import "styles/Variables.module.scss";

.btn {
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 15px;
  padding: 1.2rem 2rem;
  color: $colorBg100;
  background-color: $colorMain;
  border-radius: $radii;
  font-weight: $fwBold;
  transition: $trans;

  &:hover,
  &:focus {
    background-color: $colorMainDark;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
}

.iconRight {
  margin-left: 1rem;
}
.iconLeft {
  margin-right: 1rem;
}
