@import "styles/Variables.module.scss";

.container {
  font-weight: $fwNormal;
  font-size: 16px;
  line-height: 28px;
  color: $colorBg700;
  height: 100%;
}

.divider {
  @extend %divider;
  margin-bottom: 2.4rem;
}

.list {
  padding-left: 2.6rem;
  margin-bottom: 2.4rem;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.015em;
  color: #6f767e;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;

  li {
    margin-bottom: 20px;
  }
}

.buttonContainer {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.title {
  margin-bottom: 1rem;
}

.header {
  font-size: 20px;
  line-height: 32px;
  color: $colorTextDark;
  font-weight: $fwSemiBold;
}

.link {
  outline: none;
  text-decoration: none;
  color: $colorTextDark;
  transition: $transAll;
  font-weight: $fwSemiBold;

  &:hover,
  &:focus {
    color: $colorMain;
  }
}

.margin {
  margin-bottom: 1.6rem;
}

.horizontalTabs {
  width: 100%;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  gap: 8px;
  background: #f9fafb;

  border: 1px solid #f2f4f7;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  margin-bottom: 20px;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;

  width: auto;
  height: 36px;

  border-radius: 6px;

  flex: none;
  order: 0;
  flex-grow: 0;

  cursor: pointer;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.activeTab {
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 6px;
}

.content {
  display: none;
}

.activeContent {
  display: block;
  margin: 20px 0;
}

.contentTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 100%;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;

  margin-bottom: 20px;
}

.titleText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Gray/900 */

  color: #101828;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
