@import "styles/Variables.module.scss";

.container {
  font-weight: $fwNormal;
  font-size: 16px;
  line-height: 28px;
  color: $colorBg700;
}

.divider {
  @extend %divider;
  margin-bottom: 2.4rem;
}

.list {
  padding-left: 2.6rem;
  margin-bottom: 2.4rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.title {
  margin-bottom: 1rem;
}

.header {
  font-size: 20px;
  line-height: 32px;
  color: $colorTextDark;
  font-weight: $fwSemiBold;
}

.link {
  outline: none;
  text-decoration: none;
  color: $colorTextDark;
  transition: $transAll;
  font-weight: $fwSemiBold;

  &:hover,
  &:focus {
    color: $colorMain;
  }
}
