@import "styles/Variables.module.scss";

.textarea {
  width: 100%;
  background-color: $colorSuccessLightest;
  border-radius: $radii;
  outline: none;
  border: 2px solid $colorSuccessLight;
  padding: 1rem;
}
