@import "styles/Variables.module.scss";

.wrapperColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.configContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}

.configLabelContainer {
  display: flex;
  align-items: center;
  cursor: help;
}

.entropyGeneration {
  color: $colorMain;
}

.blockDivider {
  @extend %divider;
  margin-bottom: 3.2rem;
}

.entropyContainer {
  display: flex;
  justify-content: space-between;
}

.entropyOptionsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3.4rem;
  column-gap: 1.2rem;
  row-gap: 0.6rem;
}

@mixin mouseButtonBase($percentage) {
  background: linear-gradient(to right, $colorMain 0% $percentage, $colorBg700 $percentage 100%);
}

.mouseButton0 {
  @include mouseButtonBase(0%);
}
.mouseButton10 {
  @include mouseButtonBase(10%);
}
.mouseButton20 {
  @include mouseButtonBase(20%);
}
.mouseButton30 {
  @include mouseButtonBase(30%);
}
.mouseButton40 {
  @include mouseButtonBase(40%);
}
.mouseButton50 {
  @include mouseButtonBase(50%);
}
.mouseButton60 {
  @include mouseButtonBase(60%);
}
.mouseButton70 {
  @include mouseButtonBase(70%);
}
.mouseButton80 {
  @include mouseButtonBase(80%);
}
.mouseButton90 {
  @include mouseButtonBase(90%);
}
.mouseButton100 {
  @include mouseButtonBase(100%);
}

.infoAndValidation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.validation {
  padding: 0.2rem 0.8rem;
  border-radius: $radiiSmallish;
  color: $colorTextDark;
  line-height: 24px;
  transition: $transAll;
}

.insightsLabel {
  font-weight: 500;
  font-size: 15px;
  color: $colorBg700;
  margin-bottom: 2.4rem;
}

.insightsContainer {
  display: flex;
  flex-wrap: wrap;
}

.insightBlock {
  width: 50%;
  margin-bottom: 3.6rem;
}

.insightTitle {
  font-size: 15px;
  color: $colorTextDark;
  margin-bottom: 1rem;
}

.insightContent {
  font-weight: $fwBold;
  font-size: 12px;
  color: $colorBg700;
  padding: 0.4rem 0;
}

.seedPhraseContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3.6rem;
}

.sharesInfo {
  font-size: 15px;
  color: $colorBg700;
  font-weight: $fwNormal;
  margin-bottom: 3.6rem;
}

.thresholdSharesContainer {
  display: flex;
  margin-bottom: 3.2rem;
}

.calcContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.calcTitle {
  margin-bottom: 2.5rem;
  font-size: 18px;
  color: $colorTextDark;
}
