@import "styles/Variables.module.scss";

.icon {
  /* Group 17 */

  width: 56.69px;
  height: 98.25px;

  transform: matrix(-1, 0, 0, 1, 0, 0);

  /* Inside auto layout */
}

.iconBox {
  /* Frame 3574 */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 45.3775px;
  gap: 9.26px;

  position: absolute;
  width: 140px;
  height: 140px;
  left: calc(50% - 140px / 2 + 8.5px);
  top: -70px;

  background: linear-gradient(146.78deg, rgba(255, 255, 255, 0) 15.38%, rgba(255, 255, 255, 0.4) 92.12%);
  filter: drop-shadow(0px 72px 110px rgba(2, 2, 33, 0.12));
  backdrop-filter: blur(16.2063px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 44.27px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}

.contentBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentContainer {
  /* Frame 429 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  /* Inside auto layout */
}

.imageBox {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.title {
  /* faq toggle */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;

  width: 100%;
}

.description {
  width: 100%;

  /* Body 1 (Medium) */

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  letter-spacing: -0.015em;

  /* Neutral/04 */

  color: #6f767e;

  /* Inside auto layout */
}

.info {
  /* faq toggle */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;

  width: 100%;
}

.infoBox {
  /* Frame 461 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 8px;

  width: 100%;
}

.links {
  /* Frame 460 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 8px;

  width: 100%;
  max-width: 600px;
}

.link {
  width: 100%;

  /* Base 1 (Semibold) */

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  letter-spacing: -0.01em;

  /* Gray/700 */

  color: #344054;
}

.divider {
  /* Divider */

  width: 100%;
  height: 1px;

  /* Gray/500 */

  background: #667085;
  border-radius: 1px;
}

/* width */
::-webkit-scrollbar {
  height: 10px;
  width: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 10px;
}
