@import "styles/Variables.module.scss";

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include sm-d {
    display: block;
  }
}

.wordCountContainer {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;

  @include sm-d {
    margin-top: 2.4rem;
  }
}

.validation {
  @extend %validation;
}

.shareContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 3.2rem;
}

.sharesCountContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3.6rem;
}

.title {
  font-size: 14px;
  line-height: 24px;
  color: $colorTextDarkish;
  font-weight: 600;
  margin-bottom: 1rem;
}
