@import "./Variables.module.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: $fontFamily;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: inherit;
  font-size: inherit;
}
