/* colors */
$colorMainLight: #cabdff;
$colorMainLightish: #cabdfe;
$colorMain: #5c58bb;
$colorMainDark: #413e83;

$colorWarn: #ffd88d;

$colorSuccessLightest: #e0f1e8;
$colorSuccessLight: #b5e4ca;
$colorSuccess: #83bf6e;
$colorSuccessDark: #144a23;

$colorErrorLight: #ffbc99;
$colorErrorLightish: #ff6a55;
$colorError: #fc4747;

$colorBg100: #fcfcfc;
$colorBg200: #f4f4f4;
$colorBg300: #efefef;
$colorBg400: #e1e1e1;
$colorBg500: #f7f7f7;
$colorBg600: #e1e4eb;
$colorBg650: rgba(111, 118, 126, 0.4);
$colorBg700: #6f767e;

$colorTextLight: rgba(252, 252, 252, 0.75);
$colorTextLighter: #9a9fa5;
$colorText: rgba(16, 18, 20, 0.5);
$colorTextDarkish: #33383f;
$colorTextDark: #1a1d1f;

/* fonts */
$fontFamily: "Inter", sans-serif;

/* font weights */
$fwLight: 400;
$fwLightish: 500;
$fwNormal: 600;
$fwBold: 700;

/* radiuses */
$radiiSmallest: 4px;
$radiiSmallish: 6px;
$radiiSmall: 8px;
$radii: 12px;
$radiiBig: 20px;

/* transitions */
$trans: all 0.1s ease-in-out;

/* export variables to use in Components */
:export {
  colorMain: $colorMain;
  colorBg100: $colorBg100;
  colorMainLight: $colorMainLight;
  colorSuccessLight: $colorSuccessLight;
  colorErrorLight: $colorErrorLight;
}
