/* colors */
$colorMainLight: #cabdff;
$colorMainLightish: #cabdfe;
$colorMain: #5c58bb;

$colorWarn: #ffd88d;

$colorSuccessLightest: #e0f1e8;
$colorSuccessLight: #b5e4ca;
$colorSuccess: #83bf6e;
$colorSuccessDark: #144a23;

$colorErrorOnlineBg: rgba(252, 71, 71, 0.15);
$colorErrorLight: #ffbc99;
$colorErrorLightish: #ff6a55;
$colorError: #fc4747;

$colorBg100: #fcfcfc;
$colorBg200: #f4f4f4;
$colorBg300: #efefef;
$colorBg400: #e1e1e1;
$colorBg500: #f7f7f7;
$colorBg600: #e1e4eb;
$colorBg650: rgba(111, 118, 126, 0.4);
$colorBg670: #cdcdcd;
$colorBg700: #6f767e;
$colorBg800: #c4c4c4;

$colorTextLight: rgba(252, 252, 252, 0.75);
$colorTextLighter: #9a9fa5;
$colorText: rgba(16, 18, 20, 0.5);
$colorTextDarkish: #33383f;
$colorTextDark: #1a1d1f;

/* fonts */
$fontFamily: "Inter", sans-serif;

/* font weights */
$fwLight: 400;
$fwNormal: 500;
$fwSemiBold: 600;
$fwBold: 700;

/* radiuses */
$radiiSmallest: 4px;
$radiiSmallish: 6px;
$radiiSmall: 8px;
$radii: 12px;
$radiiMedium: 16px;
$radiiBig: 20px;

/* transitions */
$transAll: all 0.1s ease-in-out;
$transColor: color 0.1s ease-in-out;
$transModal: all 0.3s ease-in-out;

/* breakpoint */
$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

@mixin xl-d {
  @media (max-width: (map-get($breakpoints, xl) - 0.2px)) {
    @content;
  }
}
@mixin lg-d {
  @media (max-width: (map-get($breakpoints, lg) - 0.2px)) {
    @content;
  }
}
@mixin md-d {
  @media (max-width: (map-get($breakpoints, md) - 0.2px)) {
    @content;
  }
}
@mixin sm-d {
  @media (max-width: (map-get($breakpoints, sm) - 0.2px)) {
    @content;
  }
}

%dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $colorMain;
}

%divider {
  height: 1px;
  background-color: $colorBg300;
  margin-bottom: 3.2rem;
}

/* export variables to use in Components */
:export {
  colorMain: $colorMain;
  colorMainLight: $colorMainLight;
  colorSuccessLight: $colorSuccessLight;
  colorError: $colorError;
  colorErrorLight: $colorErrorLight;
  colorBg100: $colorBg100;
  colorBg800: $colorBg800;
}
