@import "styles/Variables.module.scss";

.selectContainer {
  position: relative;
  min-width: 200px;
}

.select {
  outline: none;

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 4.8rem 1.2rem 1.2rem;

  background-color: $colorBg200;
  border: 2px solid $colorBg300;
  border-radius: $radii;
  overflow: hidden;
}

.customArrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: red;
  height: 100%;
  width: 40px;
  pointer-events: none;
}
