@import "styles/Variables.module.scss";

.mainContainer {
  display: flex;
  flex-direction: row;
  background-color: $colorBg100;
  min-height: 100vh;
  height: 100%;
}

.nav {
  position: fixed;
  width: 400px;
  height: 100%;
  background-color: $colorBg200;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include md-d {
    display: none !important;
  }
  @include lg-d {
    width: 300px;
  }
}

.logo {
  margin-bottom: 3rem;

  @include lg-d {
    width: 200px;
  }
}

.subtitle {
  font-size: 14px;
  line-height: 24px;
  color: $colorText;
  margin-bottom: 1.6rem;
}

.title {
  font-size: 14px;
  line-height: 24px;
  color: $colorTextDarkish;
  font-weight: 600;
  margin-bottom: 1rem;
}

.githubInfo {
  font-size: 13px;
  line-height: 16px;
  color: $colorTextLighter;
  font-weight: $fwSemiBold;
  margin-bottom: 4rem;
}

.link {
  outline: none;
  text-decoration: none;
  color: $colorTextDark;
  transition: $transAll;

  &:hover,
  &:focus {
    color: $colorMain;
  }
}

.navContentTop {
  padding: 2.4rem 2.2rem 0 3.2rem;
}

.helpButtonContainer {
  position: relative;
}

.helpButton {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 1.4rem;
  padding: 2.4rem 2.2rem 5rem 3.2rem;
  font-weight: $fwSemiBold;
  font-size: 15px;
  transition: $transAll;
  color: $colorBg700;

  &::before {
    content: "";
    height: 2px;
    background-color: $colorBg400;
    width: calc(100% - 5.4rem);
    position: absolute;
    top: 0;
    left: 3.2rem;
  }

  &:hover,
  &:active {
    background-color: $colorMain;
    color: $colorBg100;

    & * {
      fill: $colorBg100;
    }
  }
}

.contentContainer {
  max-width: 968px;
  width: 100%;
  margin: 0 auto;
}

.mainContentContainer {
  width: 100%;
  margin-left: 400px;

  @include md-d {
    margin-left: 0 !important;
  }
  @include lg-d {
    margin-left: 300px;
  }
}

.onlineNotification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid $colorError;
  background-color: $colorErrorOnlineBg;
  padding: 1rem;
  gap: 1rem;
}

.onlineMessage {
  color: $colorError;
  font-size: 12px;
  font-weight: $fwNormal;
  text-align: right;
}

.securityNotice {
  font-weight: $fwSemiBold;
  margin-bottom: 0;
  color: $colorTextDarkish;
}
