@import "styles/Variables.module.scss";

%backdropBase {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: $transModal;
}

.backdrop {
  @extend %backdropBase;
}

.backdropActive {
  @extend %backdropBase;
  opacity: 1;
  pointer-events: all;
}

%modalBase {
  display: flex;
  flex-direction: column;
  background-color: $colorBg100;
  padding: 2.4rem 0;
  box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.05), 0px 32px 48px -8px rgba(0, 0, 0, 0.1);
  border-radius: $radiiMedium;
  width: 45%;
  min-width: 350px;
  height: 65%;
  min-height: 650px;
  max-height: 90%;

  transform: scale(0.5);
  transition: $transModal;
}

.modal {
  @extend %modalBase;
}

.modalActive {
  @extend %modalBase;
  transform: scale(1);
}

.content {
  padding: 0 2.4rem;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background-color: $colorBg100;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darken($colorBg400, 5%);
    border-radius: 100px;
    transition: $transAll;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: darken($colorBg400, 15%);
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.6rem;
}

.closeBtn {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colorBg300;
  border-radius: 50%;
  cursor: pointer;
  transition: $transAll;

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    background-color: darken($colorBg300, 10%);
  }

  &:disabled,
  &[disabled] {
    cursor: default;
    background-color: transparent;
    border-color: transparent;
  }
}

.notificationContainer {
  background-color: $colorWarn;
  align-self: flex-end;
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
}
