@import "styles/Variables.module.scss";

.descriptionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  font-weight: $fwLight;
  font-size: 20px;
  color: $colorTextDark;
  margin-bottom: 2.4rem;
}

.contentContainer {
  padding: 5rem;
  padding-bottom: 3.6rem;
  background: #ffffff;
  border-radius: $radiiSmall;
  margin-bottom: 1.8rem;

  @include md-d {
    padding: 2rem;
  }
}

.whitespace {
  @include lg-d {
    display: none;
  }
}

.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.logo {
  @include lg-d {
    width: 200px;
    margin: 0 auto;
  }
}

.additionalInfo {
  @include lg-d {
    display: none;
  }
}

.innerDescription {
  font-weight: $fwLight;
  font-size: 20px;
  text-align: center;
  color: $colorTextDark;
  margin-bottom: 3.6rem;
}

.textPlacesContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modalContentContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.blockDivider {
  @extend %divider;
  margin-bottom: 1rem;
}

.shareNumberInfo {
  text-align: center;
  font-size: 24px;
  font-weight: $fwSemiBold;
  margin-bottom: 2.4rem;
  color: $colorBg700;
}

.additionalInfo {
  text-align: center;
  color: $colorTextDark;
  font-size: 20px;
  font-weight: $fwLight;
}

.optionsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4rem;
  margin-bottom: 2.4rem;
  row-gap: 0.4rem;
  column-gap: 1rem;
}

.option {
  padding: 0.8rem 1.6rem;
  border-radius: $radiiSmall;
  background-color: $colorTextLighter;
  color: $colorBg100;
  font-weight: $fwBold;
  font-size: 13px;
}

.infoBlock {
  position: relative;
  margin-bottom: 2.4rem;
}

.infoBlockHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $colorTextDark;
  padding-bottom: 1.2rem;
  font-size: 15px;
  color: $colorTextDark;
}

.infoBlockDescription {
  margin-top: 2.4rem;
  font-weight: $fwNormal;
  font-size: 15px;
  color: $colorBg700;
  line-height: 24px;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.titleInfo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #33383f;
}

.textPlace {
  padding: 2.2rem 2.2rem 2.2rem 4.2rem;
  border: none;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.backupSharesBody {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.backupSharesBox {
  background-color: $colorBg200;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.backupShares {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
