@import "styles/Variables.module.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 16px;
  gap: 16px;
  margin: 0 0 1rem 0;
  width: 100%;
  background: #7f56d9;
  border-radius: 8px;
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
}

.mainContentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  position: relative;
  width: 100%;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.titleWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0px 24px 0px 0px;
  gap: 4px;
  isolation: isolate;

  width: 100%;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.title {
  width: auto;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 1;
  z-index: 0;
}

.supportingText {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #e9d7fe;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 108px;
  height: 20px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: 32px;
  height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.moreInfoButton {
  width: 64px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}
