@import "styles/Variables.module.scss";

.tabsContainer {
  margin-top: 2.4rem;
  margin-bottom: 1rem;
  border-radius: $radiiBig;
  background-color: $colorBg200;
  display: flex;
}

.tabContent {
  padding: 2.4rem;
  padding-bottom: 5rem;
  font-weight: $fwSemiBold;
  font-size: 14px;
  color: $colorTextDarkish;
}
