@import "styles/Variables.module.scss";

.tabsContainer {
  margin-top: 2.4rem;
  margin-bottom: 1rem;
  border-radius: $radiiBig;
  background-color: $colorBg200;
  display: flex;
}

.tabContent {
  padding: 2.4rem;
  font-weight: $fwNormal;
  font-size: 14px;
  color: $colorTextDarkish;
}

.configContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.configLabelContainer {
  display: flex;
  align-items: center;
}

.entropyGeneration {
  color: $colorMain;
}

.selectLabelContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}

.selectLabel {
  font-size: 14px;
  line-height: 24px;
  margin-right: 0.5rem;
}

.blockDivider {
  height: 1px;
  background-color: $colorBg300;
  margin-bottom: 3.2rem;
}

.generateBtn {
  width: 100%;
  margin-bottom: 3.4rem;
}

.blockLabelContainer {
  display: flex;
  align-items: center;
}

.seedPhraseContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 360px;
  margin-bottom: 3.6rem;
}

.sharesInfo {
  font-size: 15px;
  color: $colorBg700;
  font-weight: $fwLightish;
}
