@import "styles/Variables.module.scss";

.badgeContainer {
  display: flex;
  align-items: center;
  color: $colorTextDark;
  margin-bottom: 3.8rem;
}

.badge {
  width: 16px;
  height: 32px;
  background: $colorSuccessLight;
  border-radius: $radiiSmallest;
  margin-right: 1.6rem;
}

.title {
  font-size: 20px;
  line-height: 32px;
  margin-right: 3.3rem;
}

.additionalInfo {
  font-size: 14px;
  line-height: 24px;
  padding: 0.2rem 0.8rem;
  background-color: $colorSuccessLight;
  border-radius: 6px;
}
