@import "styles/Variables.module.scss";

.badgeContainer {
  display: flex;
  align-items: center;
  color: $colorTextDark;
  margin-bottom: 3.6rem;
  font-weight: $fwSemiBold;
}

.badge {
  width: 16px;
  height: 32px;
  background: $colorSuccessLight;
  border-radius: $radiiSmallest;
  margin-right: 1.6rem;
}

.title {
  font-size: 20px;
  line-height: 32px;
}
